<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/BaseLayout}" layout:fragment="content">

    <table>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>writer</th>
            <th>Date created</th>
            <th>Date modified</th>
        </tr>

        <tr th:if="${relation.isEmpty()}">
            <td colspan="5">글이 존재하지 않습니다.</td>
        </tr>
        <tr th:if="!${relation.isEmpty()}" th:each="instance : ${relation}">
            <td th:text="${instance.bno}">번호</td>
            <td th:text="${instance.title}">제목</td>
            <td th:text="${instance.writer}">작성자</td>
            <td th:text="${#temporals.format(instance.regDate, 'yyyy-MM-dd HH:mm:ss')}">등록일</td>
            <td th:text="${#temporals.format(instance.modDate, 'yyyy-MM-dd HH:mm:ss')}">수정일</td>
        </tr>
    </table>
</html>