<!DOCTYPE HTML>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="head">
    <title>Prologue</title>
    <meta charset="utf-8">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600" rel="stylesheet" type="text/css">
    <!--[if lte IE 8]>
    <script th:src="@{/js/html5shiv.js}"></script>
    <![endif]-->
    <script th:src="@{http://code.jquery.com/jquery-latest.min.js}"></script>

    <script th:src="@{/js/skel.min.js}"></script>
    <script th:src="@{/js/skel-panels.min.js}"></script>
    <script th:src="@{/js/init.js}"></script>
    <!--    <script th:src="@{/js/Boards/BoardsController.js}" ></script>-->
<!--    <noscript>-->
        <link rel="stylesheet" th:href="@{/css/skel-noscript.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/style-wide.css}" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--    </noscript>-->
    <!--[if lte IE 9]>

    <link rel="stylesheet" th:href="@{/css/ie9.css}">
    <![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" th:href="@{/css/ie8.css}">
    <![endif]-->
    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
</head>

<body>
<div th:replace="~{layout/LeftTagPage::LeftTagCustom}" ></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<div id="content">
    <div id="main">
        <th:block layout:fragment="contents"></th:block>
    </div>
</div>
<div th:replace="~{layout/FooterPage::FooterCus}" ></div>
</body>
</html>